<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/header.css">
    <title>Griet Event Attendance Manager</title>
</head>
<body>
    <div class="logo">
        <img src="images/griet_logo.png" alt="GRIET Logo">
        <img src="images/accrediation_logos.png" alt="accrediation">
    </div>
    <header>
    <h1>GRIET Event Attendance Manager</h1>
    <% if (home) { %>
        <nav>
            <a href="/about">About Us</a>
        </nav>
        <% } %>

    <% if (about) { %>
        <nav>
            <a href="/">Home</a>
        </nav>
        <% } %>

    <% if (faculty) { %>
        <nav>
            <div class="menu-container">
                <a class="menu-icon">&#9776;</a>
                <div class="dropdown">
                  <a href="#">View Permissions</a>
                  <a href="/faculty2">View Attendance</a>
                  <a href="/about">About Us</a>
                  <a href="/">Logout</a>
                </div>
            </div>
        </nav>
        <% } %>

    <% if (club) { %>
        <nav>
            <div class="menu-container">
                <a class="menu-icon">&#9776;</a>
                <div class="dropdown">
                  <a href="#">Upload Permissions</a>
                  <a href="/club2">Upload Attendance</a>
                  <a href="/about">About Us</a>
                  <a href="/">Logout</a>
                </div>
            </div>
        </nav>
        <% } %>

    </header>
</body>
</html>