<%- include("partials/header", { title: 'About', about: false, home:false, faculty:false, club:true, permission_add:false, permission_get:false }) %>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>GRIET Event Attendance Manager</title>
  <link rel="stylesheet" href="/css/club2.css">
</head>
<body>

  <div class="container">
  <form id="addForm">
    <label for="regInput">Reg.No:</label>
    <input type="text" id="regInput" name="regInput" placeholder="Enter Reg No">
    <button type="submit">ADD ➕</button>
    <!-- onclick="addReg()" -->
  </form>

    <div class="reg-list" id="regList"></div>

    <div class="buttons">
      <button><form  method="get" action="club1.ejs"><a href="club1">⬅️ Go Back</a></form></button>
      <button onclick="submit()">Submit ✅</button>
    </div>
  </div>

  <script src="/script/club2.js"></script>
</body>
</html>

<%- include("partials/footer") %>