<%- include("partials/header", { title: 'Club', about: false, home:false, faculty:false, club:true, permission_add:false, permission_get:false }) %>
<head>
    <link rel="stylesheet" href="/css/club1.css">
</head>
<body>
<main>
  <div class="form-card" id="formCard">
    <div class="form-inner">
      <form id="eventForm">
        <h2>Event Details</h2>
        
        <label>Event Name:</label>
        <input type="text" name="eventName" required />
        
        <label>Club Name:</label>
        <input type="text" name="clubName" required />
        
        <label>Event Type:</label>
        <select name="eventType" required>
          <option value="">Select Type</option>
          <option value="Technical">Technical</option>
          <option value="Non-Technical">Non-Technical</option>
        </select>
      
        <label>Description:</label>
        <textarea name="description" rows="4" cols="50" placeholder="Write a short description..." required></textarea>
      
        <button type="submit">Submit</button>
      </form>
      
      
      <div class="success-msg" id="successMsg">
        <!-- will be filled by JS -->
      </div>
    </div>
  </div>
</main>
  <script defer src="/script/club1.js"></script>
</body>
<footer style="position: relative;">
<%- include("partials/footer") %>
</footer>