body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
  }
  
  .container {
    background: #ffffff;
    padding: 30px;
    max-width: 600px;
    margin-top: 2rem;
    margin-left: 60vh;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }
  
  label {
    font-weight: bold;
    color: #900;
  }
  
  input[type="text"] {
    padding: 8px;
    margin: 10px 5px;
    width: 200px;
  }
  
  button {
    padding: 8px 12px;
    margin: 10px 5px;
    cursor: pointer;
    background-color: #591434;
    color: white;
    border: none;
    border-radius: 5px;
  }
  
  button a{
    color: #fff;
    text-decoration: none;
  }

  .reg-list {
    margin-top: 20px;
    padding: 10px;
    background-color: #f0e7e7;
    border: 1px solid #ddd;
    border-radius: 10px;
    min-height: 80px;
  }
  
  .reg-item {
    display: inline-block;
    background-color: #fff;
    margin: 5px;
    padding: 5px 10px;
    border-radius: 20px;
    border: 1px solid #aaa;
    position: relative;
  }
  
  .reg-item span {
    margin-left: 10px;
    cursor: pointer;
    color: red;
    font-weight: bold;
  }
